<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style_form1.css') }}">
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<!-- formulario de los datos bancarios -->
<title> Formulario #1 Flask </title>

{% block header %}
<h1>Bank Deposit Prediction Form </h1>
{% endblock %} 

{% block content %}
<form method="post">
	<div class="wrap">
		<h2>Contact</h2>
		<!--<h3>Ingresa los siguientes datos para tu registro</h3>-->
		<div class="flex-item">
			<div>
				<h4>Contact</h4>
					<select name="contact" type="text" size="1">
						<option>cellular</option>
						<option>telephone</option>
						
					</select>
		    </div>
			
			<div>
				<h4>Month</h4>
					<select name="month" type="text" size="1">
						<option>jan</option>
						<option>feb</option>
						<option>mar</option>
						<option>apr</option>
						<option>may</option>
						<option>jun</option>
						<option>jul</option>
						<option>aug</option>
						<option>sept</option>
						<option>oct</option>
						<option>nov</option>
						<option>dec</option>
						
					</select>
		    </div>
			<div>
				<h4>Day</h4>
					<select name="day_of_week" type="text" size="1">
						<option>mon</option>
						<option>tue</option>
						<option>wed</option>
						<option>thu</option>
						<option>fri</option>					
					</select>
		    </div>
			<div>
				<label for="campaign">Campaign</label>
				<input id="campaign" name="campaign" type="text" class="cool" />
			</div>
			<div>
				<label for="pdays">Pdays</label>
				<input id="pdays" name="pdays" type="text" class="cool" />
			</div>
			<div>
				<label for="previous">Previous</label>
				<input id="previous" name="previous" type="text" class="cool" />
			</div>
			<div>
				<h4>Poutcome</h4>
				<select name="poutcome" type="text" size="1">
					<option>failure</option>
					<option>nonexistent</option>
					<option>success</option>
				</select>
			</div>	
			<input type="submit" value="PREDICT" style="width:200px; height:40px"/>
        </div>
			
		
	
	</div>
	
	<div class="wrap2">
	    <h2>Bank Data</h2>
		<div>
				<label for="age">Age</label>
				<input id="age" name="age" type="text" class="cool" />
		</div>	
		<div>
				<h4>Job</h4>
				<select name="job" type="text" size="1">
					<option>admin.</option>
					<option>blue-collar</option>
					<option>entrepeneur</option>
					<option>housemaid</option>
					<option>management</option>
					<option>retired</option>
					<option>self-employed</option>
					<option>services</option>
					<option>student</option>
					<option>technician</option>
					<option>unemployed</option>
					<option>unknown</option>
				</select>
		</div>
		
		<div>
				<h4>Marital</h4>
				<select name="marital" type="text" size="1">
					<option>divorced</option>
					<option>married</option>
					<option>single</option>
					<option>unknown</option>
				</select>
		</div>
		
		<div>
				<h4>Education</h4>
				<select name="education" type="text" size="1">
					<option>basic.4y</option>
					<option>basic.6y</option>
					<option>basic.9y</option>
					<option>high.school</option>
					<option>illiterate</option>
					<option>professional.course</option>
					<option>university.degree</option>
					<option>unknown</option>
				</select>
		</div>
		<div>
				<h4>Default</h4>
				<select name="default" type="text" size="1">
					<option>yes</option>
					<option>no</option>
					<option>unknown</option>
				</select>
		</div>
		<div>
				<h4>Housing</h4>
				<select name="housing" type="text" size="1">
					<option>yes</option>
					<option>no</option>
					<option>unknown</option>
				</select>
		</div>
		<div>
				<h4>Loan</h4>
				<select name="loan" type="text" size="1">
					<option>yes</option>
					<option>no</option>
					<option>unknown</option>
				</select>
		</div>
		
	</div>
	
	<div class="wrap3">
	    <h2>Context</h2>
		<div>
				<label for="emp.var.rate">EmployRate</label>
				<input id="emp.var.rate" name="emp.var.rate" type="text" class="cool" />
		</div>	
		<div>
				<label for="cons.price.idx">Price-Index</label>
				<input id="cons.price.idx" name="cons.price.idx" type="text" class="cool" />
		</div>
		
		<div>
				<label for="cons.conf.idx">IMCE</label>
				<input id="cons.conf.idx" name="cons.conf.idx" type="text" class="cool" />
		</div>
		
		<div>
				<label for="euribor3m">Euribor</label>
				<input id="euribor3m" name="euribor3m" type="text" class="cool" />
		</div>
		<div>
				<label for="nr.employed">Employees</label>
				<input id="nr.employed" name="nr.employed" type="text" class="cool" />
		</div>
		
	</div>
</form>
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='form1.js') }}"></script>




